<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371106868325-oivltoa4h4ccr399kdi6civta02hl1a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371106868325-oivltoa4h4ccr399kdi6civta02hl1a8</string>
	<key>API_KEY</key>
	<string>AIzaSyCGmJNWmPURMUgRgWSa0EKZtax3OVT3thQ</string>
	<key>GCM_SENDER_ID</key>
	<string>371106868325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learnappmaking.Dog</string>
	<key>PROJECT_ID</key>
	<string>dog4pp</string>
	<key>STORAGE_BUCKET</key>
	<string>dog4pp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371106868325:ios:aee66828a69e82a0</string>
	<key>DATABASE_URL</key>
	<string>https://dog4pp.firebaseio.com</string>
</dict>
</plist>